* {
  margin: 0;
  padding: 0;
}
.banner {
  height: 90vh;
  padding-bottom: 5em;
  position: relative;
}
.carousel-item > img {
  height: 100%;
  object-fit: cover;
  border-bottom: 0;
}
.carousel {
  border: 0;
  outline: none;
}
.carousel-inner {
  border-bottom: 0;
  outline: none;
}

.logo {
  width: 120px;
  position: absolute;
  left: 5%;
  top: 0;
  z-index: 200;
}
.banner-text {
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 100%;

  color: black;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner-text h1 {
  font-size: 6.7rem;
}
.banner-text h2 {
  font-size: 3.5rem;
}
.banner-text p {
  font-size: 30px;
  font-style: italic;
  color: white;
}

.active {
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
  color: blue !important;
}
.logo1 {
  display: none;
}
#menuBtn {
  display: none;
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img {
  width: 50px;
  margin-top: 5px;
}

/* for large screen  */
@media screen and (min-width: 900px) {
  #sideNav {
    padding-top: 10px;

    height: 110px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .logo2 {
    display: none;
  }
  .logo1 {
    display: block;
  }
  #sideNav > nav {
    margin-left: 4rem;
    z-index: 1000;
  }
  .nav-links {
    display: flex;
    list-style-type: none;
  }
  .nav-links > li {
    margin: 0px 10px;
  }
  .nav-links > li > a {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 1.1rem;
    transition: 300ms linear;
  }
  .nav-links > li > a:hover {
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
    color: blue;
  }
}

/*FOR MOBILE SCREEN*/
@media all and (max-width: 900px) {
  .banner-text h1 {
    font-size: 4rem;
    text-align: right;
  }
  .banner-text h2 {
    font-size: 3rem;
    text-align: right;
  }
  .LOGO2 {
    width: 90px;
    height: 90px;
    margin-top: 10px;
  }

  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
  .banner-text > p {
    margin-top: 50px;
  }
  #menuBtn {
    display: block;
  }

  #sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
  }

  nav ul li {
    list-style: none;
    margin: 50px 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
}

/*--------------feature-----------*/
#feature {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 30px;
}
.title-text h1 {
  margin: auto;
  font-size: 80px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.subtitle {
  color: black;
}
.title-text h1::after {
  content: "";
  width: 50px;
  height: 35px;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
}
.title-text p {
  font-size: 2.2rem;
}
.header-text {
  color: #009688;
}

@media screen and (max-width: 770px) {
  .title-text h1 {
    font-size: 35px;
  }
}
/*----------service------------*/
#service {
  width: 100%;
  padding: 70px 0;
  background: #72626254;
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), #009688);
  opacity: 0;
  transition: 1s;
}
.single-service:hover.overlay {
  opacity: 1;
}
.service-discription {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  color: #009688;
  transition: 1s;
}
hr {
  background: #009688;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-discription p {
  font-size: 14px;
}
.single-service:hover .service-discription {
  bottom: 40%;
  opacity: 1;
}

.footer-box {
  background-color: #91898954;
}

@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-discription p {
    font-size: 12px;
  }

  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-discription {
    bottom: 25% !important;
    opacity: 1;
  }
  /*---------footer---------*/
}
.why-us {
  transform: scale(0);
}

.inScreen {
  transition: 400ms linear;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: none;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
